<div class="text-center">
  <form action="/import">
    <p>Import recipes for which ingredient? </p>
    <p><input type="text" name="import_word" class="form-control" /></p>
    <input type="submit" class="btn">
  </form>
  <a style="cursor: pointer" class="btn btn-lg" id="trig">Click here to import Recipes </a>
</div>
<div class="text-center">
    <ol>
    <% @request2.each do |recipe| %>
        <li class="text-left recipes" style="color: black !important;">
          <%= recipe %>
        </li>
    <% end %>
    </ol>
</div>
<div class="text-center last">
  <form action="/import">
    <p>Enter a number:</p>
    <p><input type="text" name="import_number"/></p>
    <p>Please, reenter the name of the food:</p>
    <p><input type="text" name="import_word"/></p>
    <input type="submit" id="food">
  </form>
</div>
<a href="/" class="btn btn-lrg">Return</a>
