<a href="/list"><div class="text-center options">
  <h3>List all Recipes</h3>
</div></a>
<a href="/new"><div class="text-center options">
  <h3>Add a Recipe</h3>
</div></a>
<a href="/delete"><div class="text-center options">
  <h3>Delete a Recipe</h3>
</div></a>
<a href="/import"><div class="text-center options">
  <h3>Import recipes from [LetsCookFrench]</h3>
</div></a>
