<form action="/create">
  <p>Name of the recipe <input type="text" name="name"></p>
  <p>Modo de preparo <input type="text" name="description"></p>
  <p>Tempo de preparo<input type="text" name="time"></p>
  <p>Dificuldade? <input type="text" name="difficult"></p>
  <input type="submit">
</form>

<a href="/" class="btn btn-lrg">Return</a>
